svg {
  margin: auto;
  width: 100%;
  height: 100%;
  display: block;
}

.tablebase {
  height: 200px;
  width: 200px;
  white-space: pre;
}

.whitewin {
  color: black;
  background-color: white;
  font-family: sans-serif;
}

.blackwin {
  color: white;
  background-color: black;
  font-family: sans-serif;
}

.draw {
  color: black;
  background-color: gray;
  font-family: sans-serif;
}

.selected {
  color: white;
  background-color: black;
  font-weight: bold;
  font-family: sans-serif;
}

.deselected {
  color: black;
  background-color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.normal {
  color:  black;
  font-family:  sans-serif;
}

.currtext {
  color: black;
  font-family: sans-serif;
  font-weight: bolder;
}